<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Todos</title>
    </head>
    <body>
        <h1>Todo</h1>
        <p>
            {% if get_all %}
                <a href="{{ path('showTodos') }}">Show completed only</a>
            {% else %}
                <a href="{{ path('allTodos') }}">Show all</a>
            {% endif %}
        </p>
        <ul>
            {% for todo in todos %}
                <li>
                    {% if todo.completed %}
                        <s>{{ todo.text }}</s> | <a href="{{ path('uncompleteTodo', {'id': todo.id}) }}">Reset</a>
                    {% else %}
                        {{ todo.text }} | <a href="{{ path('completeTodo', {'id': todo.id}) }}">Complete</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
